.footer {
  padding: 120px;
  border-top: 2px solid #bb2749;
  background: #fff;
  @media screen and (max-width: 760px) {
    padding: 40px 35px 60px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
  @media screen and (max-width: 760px) {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.logo {
  @media screen and (max-width: 760px) {
    display: flex;
    flex-direction: column;
  }
  &Icon {
    display: none;
    background-image: url("../../../public/logo.svg");
    background-size: cover;
    width: 52px;
    height: 52px;
    margin: auto;
    @media screen and (max-width: 760px) {
      display: block;
    }
  }
  &Text {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    @media screen and (max-width: 760px) {
      margin-top: 8px;
    }
  }
}

.feedback {
  @media screen and (max-width: 760px) {
    margin: auto;
    margin-top: 24px;
  }
  &Phone {
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding-left: 27px;
    position: relative;
    margin-bottom: 16px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 16px;
      width: 16px;
      background-size: cover;
      background-image: url("../../../public/phone.svg");
    }
  }
  &Email {
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding-left: 27px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 16px;
      width: 16px;
      background-size: cover;
      background-image: url("../../../public/email.svg");
    }
  }
}

.social {
  @media screen and (max-width: 760px) {
    margin-top: 24px;
  }
  &Text {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 27px;
    @media screen and (max-width: 760px) {
      margin-bottom: 12px;
    }
  }
  &Icons {
    display: flex;
    column-gap: 16px;
    @media screen and (max-width: 760px) {
      justify-content: center;
    }
    & > div {
      width: 24px;
      height: 24px;
    }
  }
  &Fb {
    background-image: url("../../../public/fb.svg");
  }
  &Ig {
    background-image: url("../../../public/ig.svg");
  }
  &Tg {
    background-image: url("../../../public/tg.svg");
  }
  &Vk {
    background-image: url("../../../public/vk.svg");
  }
}

.secondRow {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
}

.copyright {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  @media screen and (max-width: 760px) {
    order: 2;
  }
}

.policies {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  @media screen and (max-width: 760px) {
    order: 1;
    margin-bottom: 40px;
    text-align: center;
  }
  &Item {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
}
