.how {
  &Section {
    &Cont {
      width: 100%;
      max-width: 1370px;
      margin: auto;
      box-sizing: border-box;
    }
    padding-top: 141px;
    @media screen and (max-width: 600px) {
      padding-top: 40px;
    }
  }
  &Title {
    color: #333;

    font-size: 64px;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 36px;
    }
  }
  &Tabs {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    max-width: 100%;
    height: 141px;
    @media screen and (max-width: 600px) {
      position: sticky;
      top: 0;
      z-index: 69;
      margin-top: 12px;
      overflow: hidden;
      height: 99px !important;
      border-bottom: 2px solid #bb2749;
      padding: 0 20px;
      scroll-behavior: smooth;
    }
  }
  &Tab {
    min-width: 50%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 85px 0 85px;
    border-radius: 24px 24px 0px 0px;
    background: #bb2749;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    @media screen and (max-width: 800px) {
      height: auto;
      padding: 24px;
    }

    @media screen and (max-width: 600px) {
      min-width: 85%;
      height: 96px !important;
    }

    &White {
      border-top: 2px solid #bb2749;
      border-right: 2px solid #bb2749;
      border-left: 2px solid #bb2749;
      background: #fff;
      color: #333;
    }
    &Selected {
      height: 141px;
      @media screen and (max-width: 600px) {
        height: unset;
      }
    }
    &Text {
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      max-width: 340px;
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }

    &Icon {
      border: 1px solid white;
      border-radius: 50%;
      min-height: 52px;
      min-width: 52px;
      background-color: #bb2749;
      position: relative;
      margin-left: 10px;
      &::after {
        position: absolute;
        content: " ";
        width: 25px;
        height: 2px;
        top: 25px;
        left: 13px;
        border-radius: 5px;
        background: white;
      }
      &::before {
        transition: 0.15s;
        position: absolute;
        content: " ";
        width: 25px;
        height: 2px;
        top: 25px;
        left: 13px;
        border-radius: 5px;
        background: white;
        opacity: 0.5;
      }

      &Unactive {
        &::before {
          transform: rotate(90deg);
          opacity: 1;
        }
      }
    }

    &Button {
      min-width: 54px;
      height: 54px;
      background-color: white;
      border-radius: 666px;
      margin-left: 75px;
      cursor: pointer;
    }
  }
}

.tabContent {
  padding: 0 85px 75px;
  transition: background-color 0.3s;
  border-radius: 0px 0px 45px 45px;
  border-right: 2px solid #bb2749;
  border-bottom: 2px solid #bb2749;
  border-left: 2px solid #bb2749;
  background-color: #bb2749;
  @media screen and (max-width: 600px) {
    padding: 0 22px 60px;
    border-radius: 0px 0px 24px 24px;
  }
  &White {
    background-color: white;
    & .stepTitle {
      color: #333;
      & > span {
        border-bottom: 1px solid #bb2749;
        color: #333;
        background: #fff8f4;
      }
    }

    & .stepSub {
      background: rgba(187, 39, 73, 0.25);
      color: #333;
      &Line {
        background-color: #bb274940;
        &::before {
          background-color: rgb(238, 200, 209);
        }
      }
    }

    & .stepTabs {
      &Tab {
        border-bottom: 2px solid #e48f8e;
        color: #333;
        &Active {
          background: rgba(187, 39, 73, 0.1);
        }
      }
    }
  }
}

.step {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 20px;
  @media screen and (max-width: 600px) {
    padding-top: 40px;
  }
  &Sub {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    background: #f1f1f1;
    width: 86px;
    &Cont {
      display: flex;
    }
    &Line {
      background-color: white;
      width: 100%;
      height: 2px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: -5.6px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: white;
      }
      &Cont {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }
    &Empty {
      flex-grow: 1;
    }
  }
  &Title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 18px;
    color: #fff;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 24px;
      margin-top: 12px;
    }
    & > span {
      color: #fff;
      font-style: italic;
      font-weight: 400;
      border-bottom: 2px solid #cc6028;
      background: rgba(255, 255, 255, 0.25);
      padding: 0 8px;
    }
  }
  &Video {
    width: 100%;
    border-radius: 12px;
    margin-top: 24px;
    background-size: 100%;

    background-position: center;

    > div {
      position: unset !important;
    }
    &Image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
    &1 {
      background-image: url("../../../public/stepvideo1.png");
      box-shadow: 10px 10px 0px 0px #cc6028;
      background-size: 103%;
    }
    &2 {
      height: 551px;
      margin: 24px auto 0;
      width: 80%;
      box-shadow: none;
      background-image: url("../../../public/stepvideo2.png");
    }
    &3 {
      background-size: cover;

      background-image: url("../../../public/table_image.png");
    }
  }
  &Tabs {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media screen and (max-width: 1180px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      margin-bottom: 24px;
      column-gap: 12px;
    }

    &Container {
      display: flex;
      margin-top: 40px;
      column-gap: 101px;
      @media screen and (max-width: 1180px) {
        flex-wrap: wrap;
        width: calc(100% + 85px);
      }

      @media screen and (max-width: 600px) {
        width: calc(100% + 22px);
      }
    }
    &Tab {
      font-size: 16px;
      font-weight: 500;
      padding: 16px 20px;
      box-sizing: border-box;
      border-bottom: 2px solid #e48f8e;
      border-radius: 8px 12px 0px 0px;
      color: white;
      transition: 0.3s;
      cursor: pointer;
      min-width: 403px;
      @media screen and (max-width: 1180px) {
        min-width: 240px;
        align-items: center;
        display: flex;
        padding: 0px 20px;
        height: 46px;
      }
      &Active {
        background: rgba(255, 248, 244, 0.25);
        border-bottom-color: #fff;
      }
    }
    &Content {
      min-height: 405;
      flex-grow: 1;
      border-radius: 12px;
      background-size: cover;
      background-position: center;
      &Image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }
      @media screen and (max-width: 1180px) {
        margin-right: 85px;
      }

      @media screen and (max-width: 600px) {
        margin-right: 22px;
      }
      @for $i from 1 through 7 {
        &#{$i} {
          background-image: url("../../../public/contentTab#{$i}.png");
        }
      }
    }
  }
}

.stepWhite {
  .step {
    &Sub {
      background: rgba(187, 39, 73, 0.25);
      color: #333;
    }
    &Title {
      color: #333;
      & > span {
        border-bottom: 1px solid #bb2749;
        color: #333;
        background: #fff8f4;
      }
    }
    &Tabs {
      &Tab {
        border-bottom: 2px solid #e48f8e;
        color: #333;
        &Active {
          background: rgba(187, 39, 73, 0.1);
        }
      }
    }
  }
}
