.contentOffset {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}
.byebye {
  display: none;
}
.video {
  &Section {
    display: flex;
    padding: 120px 0 120px 0;
    @media screen and (max-width: 1180px) {
      padding: 120px 20px;
      flex-direction: column;

      .videoContentTextSub {
        display: none;
      }
      .byebye {
        margin-bottom: 16px;
        display: block !important;
      }
    }
    @media screen and (max-width: 600px) {
      padding: 40px 24px;
    }
  }
  &Video {
    min-height: 100%;
    width: 100%;
    border-radius: 12px;

    > div {
      position: unset !important;
    }

    @media screen and (max-width: 1180px) {
      order: 1;
    }

    &Image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  &Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    @media screen and (max-width: 1180px) {
      order: 2;
      height: auto;
    }
    &Text {
      &Sub {
        color: #cc6028;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.32px;
        opacity: 0.4;
        text-transform: uppercase;
      }
      &Container {
        margin-top: 24px;
        width: 536px;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 1180px) {
          margin-top: 35px;
          margin-bottom: 35px;
        }
        @media screen and (max-width: 600px) {
          margin-bottom: 40px;
          width: auto;
        }
        &Text {
          color: #333;
          font-size: 36px;
          font-weight: 400;
          line-height: 150%;

          @media screen and (max-width: 600px) {
            font-size: 21px;
          }

          &Bottom {
            color: #000;
            font-size: 36px;
            font-weight: 400;
            line-height: 150%;
            flex-grow: 2;

            @media screen and (max-width: 600px) {
              font-size: 21px;
            }
          }
        }
        &Input {
          width: 240px;
          margin-left: 10px;
          font-size: 24px;
          font-weight: 400;
          padding: 10px 20px;
          box-sizing: border-box;
          outline: none;
          border-radius: 12px;
          border: 1px solid rgba(187, 39, 73, 0.3);
          background: #fff8f4;
          @media screen and (max-width: 600px) {
            width: 153px;
            padding: 10px;
            border-radius: 8px;
            font-size: 16px;
          }

          &::placeholder {
            color: rgba(204, 96, 40, 0.3);
            font-size: 24px;
            font-weight: 300;
            line-height: 140%;
            @media screen and (max-width: 600px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 12px;
  box-sizing: border-box;
  margin-top: 24px;
  & > input {
    border-radius: 4px;
    border: 1px solid rgba(204, 96, 40, 0.15);
    padding: 15px 20px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    min-width: 280px;
    box-sizing: border-box;
    &::placeholder {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.policy {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  column-gap: 4px;

  &Check {
    width: 20px;
    height: 20px;
    background-image: url("../../../public/check.svg");
    position: relative;
    cursor: pointer;

    &Inactive {
      &::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        left: 6px;
        top: 6px;
        background-color: white;
      }
    }
  }

  &Text {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    & > a {
      text-decoration: none;
      font-weight: 500;
      color: #000;
    }
  }
}

.ok {
  color: #000;

  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  margin-top: 12px;
}

.buttonchik {
  @media screen and (max-width: 500px) {
    & > button {
      width: 100%;
    }
  }
}
