.background {
  background-color: #0000008c;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: end;
  z-index: 9999999;
}

.modal {
  padding: 60px 120px 100px;
  border-radius: 100px 100px 0px 0px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.title {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

.content {
  margin-top: 24px;
  display: flex;
}

.video {
  margin-right: 60px;
  flex-grow: 1;
  width: 50%;
}

.text {
  flex-grow: 1;
  width: 50%;
}

.textTitle {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.description {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  margin-top: 24px;

  & > span {
    border-bottom: 1px solid #bb2749;
    background: #fff8f4;
    padding: 0 8px;
    color: #333;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 200%;
  }
}

.keysTitle {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 60px;
}

.keys {
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.keysBlock {
  border-radius: 4px;
  background: rgba(204, 96, 40, 0.3);
  padding: 10px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.cross {
  width: 24px;
  height: 24px;
  background-image: url("../../../../public/cross.svg");
  background-size: cover;
  position: absolute;
  top: 92px;
  right: 72px;
  cursor: pointer;
}
