.section {
  height: 645px;
  width: 100%;
  background-image: url("../../../public/bg-trans.svg");
  background-color: #bb2749;
  background-size: 102%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;

  @media screen and (max-width: 600px) {
    height: 700px;
  }
}

.title {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
  @media screen and (max-width: 600px) {
    font-size: 36px;
    margin-bottom: 12px;
  }
}

.subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
  @media screen and (max-width: 600px) {
    font-size: 14px;
    margin-bottom: 24px;
  }
}

.button {
  border-radius: 30px;
  background: #fff;
  color: #bb2749;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  cursor: pointer;
  margin-top: 24px;
  @media screen and (max-width: 600px) {
    width: 327px;
    box-sizing: border-box;
    text-align: center;
  }
}

.input {
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid rgba(204, 96, 40, 0.15);
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  outline: none;
  width: 280px;
  box-sizing: border-box;
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

  &Text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 4px;
    & > a {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
      text-decoration: none;
    }
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  background-image: url("../../../public/checkmarkk.svg");
  cursor: pointer;
  position: relative;
  &Inactive {
    &::after {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      left: 6px;
      top: 6px;
      background-color: #bb2749;
    }
  }
}
